// Colors

$white: #FFFFFF;
$black: #373A36;


// Fonts

$fallback: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontRegular: $fallback;


// Breakpoints

$superTiny: 350px;
$tiny: 480px;
$small: 768px;
$medium: 1024px;
$large: 1280px;
$huge: 1660px;
$superHuge: 1800px;
